*,
*::before,
*::after {
  box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --main-text-color: #212121;
    --main-link-color-active: #2196F3;
    --background-main: #2F303A;
    --background-footer: #2F303A;
    --logo-first-part-color: #2196F3;
    --white: #FFF;
    --p-color: #757575;
    --background-stuff: #F5F4FA;
    --button: #2196F3;
    --button-second-color: #F5F4FA;
    --button-hover-color: #188CE8;
    --border-projecrt-examples-color: #EEE;

}

.flex{
    display: flex;
    padding: 0;
    }

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



.header{
    border-bottom: 1px solid #ECECEC;
}

.logo, .logo-footer{
    display: inline-block;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--main-text-color);
    margin-top: auto;
    margin-bottom: auto;
}


.first-logo-part{
    font-weight: 400;
    color: var(--logo-first-part-color);
}

.nav{
    font-weight: 500;
    padding-left: 0;
    margin: 0;
 }

.main-contacts{
    margin-left: auto; 
}

.main-contacts>li a{
    color: var(--p-color);
 }

 .nav-link{
    color: var(--main-text-color);  
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 }


.nav a:hover, 
.nav a:focus,
.nav a:active{
    color: var(--main-link-color-active);  
 }

 .nav a.is-active{
    color: var(--main-link-color-active); 
 }

.nav li:not(:last-child){
    margin-right: 50px;
}

.main-banner{
     background-color: var(--background-main);
     padding-top: 200px;
     padding-bottom: 200px;
     
 }

h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 696px;
   
}

.offer-button{
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
    background-color: var(--button);
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
}

.offer-button:hover, .offer-button:focus{
    background-color: var(--button-hover-color);
}

.our-projects-buttons{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
    background-color: var(--button-second-color);
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
}

.our-projects-buttons:hover, 
.our-projects-buttons:focus, 
.our-projects-buttons:active{
    color: var(--white);
    background-color: var(--button);
}

.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list{
    margin: 0;
}

.benefits h3{
    font-weight: 700;
    line-height: 16px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    
}

.benefits p{
    margin: 0;
    line-height: 24px;
    color: var(--p-color);
}

.benefits-items{
width: 270px;
}

.benefits-items:not(:last-child){
margin-right: 30px;
}

.what-we-do h2, .staff h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 0 0 50px 0;
}

.what-we-do{
    padding-bottom: 94px;
}

.what-we-do-items img{
    display: block;
}

.what-we-do ul, .staff ul{
    margin: 0;
}

.what-we-do-items:not(:last-child){
    margin-right: 30px;
}

.staff{
    background-color: var(--background-stuff);
    padding-top: 94px;
    padding-bottom: 94px;
}

.staff-items:not(:last-child){
    margin-right: 30px;
}

.staff-items{
    text-align: center;

    background-color: var(--white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-img{
    display: block;
}

.staff h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 10px 0;
}

.staff p{
    font-size: 16px;
    line-height: 19px;
    color: var(--p-color);
    margin: 0;
}

.staff-description{
    padding: 30px 10px;
}

.our-projects{
    padding-top: 94px;
    padding-bottom: 94px;
}

.nav-project-examples{
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.nav-project-examples li:not(:last-child){
    margin-right: 8px;
}

.project-examples{
    box-sizing: border-box;
    margin: 0;
}
.project-examples-items a{
    color: var(--main-text-color);
}
.project-examples-items{
    margin-right: 30px;
    margin-bottom: 30px;  
}

.project-examples-border{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid var(--border-projecrt-examples-color);
    border-right: 1px solid var(--border-projecrt-examples-color);
    border-bottom: 1px solid var(--border-projecrt-examples-color);
}

.project-examples-items h3{
    margin: 0 0 4px 0;
}

.project-examples-items p{
    margin: 0;
}

.project-examples-items img{
    display: block;
}



.project-examples li:nth-child(3n){
    margin-right: 0;
}

.project-examples li:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.project-examples{
    flex-wrap: wrap;
}

.project-examples h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.project-examples p{
    font-size: 16px;
    line-height: 30px;
    color: var(--p-color);
}

 .footer{
     padding-top: 60px;
     padding-bottom: 60px;
     background-color: var(--background-footer);
 }

 .logo-footer{
    color: var(--white);
    margin-bottom: 20px;
}

.footer-contacts p{
    font-style: normal;
    color: var(--white);
    margin: 0 0 9px 0;
}

.nav-footer a{
    color: rgba(255, 255, 255, 0.6);
}

.nav-footer{
    padding: 0;
    margin: 0;
}

.nav-footer li:not(:last-child){
    margin-bottom: 9px;
}